.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.word {
  color: red;
  font-family: 'Bebas Neue', cursive;
  font-size: 120px;
}

.image {
  background-image: url("../img/yoda.jpeg");
  width: 1200px;
  height: 900px;
}